version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: local_prisma_db
    platform: linux/arm64
    restart: always
    environment:
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
      POSTGRES_DB: dev_database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
